<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TIC-TAC-TOE</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="turn">
        CURRENT TURN:
        <div v-if="playerTurn === 'X'">
          PLAYER 1
        </div>
        <div v-else="playerTurn === 'O'">
          PLAYER 2
        </div>
      </div>

      <div class="gameSpace">
        <div class="row {p}" v-for="(row, indexR) in grid" v-bind:key="row">
          <div
            class="cell"
            v-for="(xo, indexC) in row"
            v-bind:key="xo"
            v-on:click="selectCell(indexR, indexC)"
          >
            {{ xo }}
          </div>
        </div>
      </div>
      <div v-if="gameOver" id="winner">
        GAME OVER
      </div>
      <div class="row">
        <div class="player">PLAYER1: X</div>
        <div class="player">PLAYER2: O</div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
